/*! item 1.0.0 pub 2015-01-17 17:08 by shuangzhu */

body {
	line-height:1;
	-webkit-text-size-adjust:none;
	background-color:#e4e4e4;
	font:13px/1.231 arial;
	color:#333
}
.c-red {
	color:#B38B4D
}
.noLogin a:first-child {
	border-right:1px solid #d1d1d1;
	padding-right:15px;
	margin-right:10px;
	font-size:13px
}
.yesLogin .loginL {
	width:80px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	display:block
}
.yesLogin .loginR {
	display:none
}
.m-head .mbTop {
	height:35px;
	background-color:#DC0005;
	background-size:auto 50px;
	background-position:0 -10px;
	top:0;
	width:100%;
	z-index:1200
}
.m-head .mbTop_wrap {
	max-width:640px;
	position:relative;
	margin:0 auto
}
.m-head .mbTop .mbLogo {
	width:119px;
	height:19px;
	display:block;
	padding:7px 0 0 8px
}
.m-head .mbTop .userLogo {
	width:30px;
	height:30px;
	display:block;
	position:absolute;
	top:0;
	right:44px
}
.m-head .mbTop .mbCart {
	width:37px;
	height:37px;
	display:block;
	position:absolute;
	top:-4px;
	right:8px;
	background:url(http://cca.mbaobao.com/static/mod/mobile/mtouch/item/1.0.0/img/cart.png?c1b041) no-repeat 1px 0;
	background-size:37px 37px;
	color:#fff;
	text-align:center;
	padding-top:5px;
	font-size:12px
}
.m-head .modRankSTag {
	width:16px;
	height:16px;
	display:inline-block;
	-webkit-border-radius:8px;
	background:#fff;
	-webkit-box-shadow:1px 1px 1px #999;
	margin-right:3px
}
.m-head .modRankSTag em {
	background:#ec1b23;
	width:10px;
	height:14px;
	line-height:14px;
	display:block;
	-webkit-border-radius:7px;
	margin:1px 0 0 1px;
	font-size:12px;
	text-align:left;
	padding:0 0 0 4px;
	color:#fff;
	font-weight:700;
	list-style:none
}
.sub-title {
	height:35px;
	background:#fff;
	text-align:center;
	box-shadow:0 2px 2px rgba(50, 50, 50, .2);
	position:relative;
	z-index:400
}
.sub-title .wrap {
	color:#666;
	position:relative;
	margin:0 auto;
	max-width:640px;
	height:35px;
	line-height:35px;
	font-size:12px
}
.sub-title .backBtn {
	display:block;
	width:35px;
	height:35px;
	position:absolute;
	top:0;
	left:0;
	font-size:20px;
	line-height:35px;
	color:#666
}
.sub-title .homeBtn {
	display:block;
	width:35px;
	height:35px;
	position:absolute;
	top:0;
	right:0;
	font-size:20px;
	line-height:35px;
	color:#666
}
.goods-title {
  font-size:14px;
  font-weight:700;
	padding:0 35px 5px;
	color:#2b2b2b;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.top-notice {
	font-size:12px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#5f5f5f;
	width:100%
}
.top-notice .wrap {
	width:100%;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	position:relative
}
.top-notice .notice-icon {
	font-size:20px;
	color:#a0a0a0;
	vertical-align:middle
}
.top-notice .close-icon {
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	right:8px;
	top:5px;
	font-size:20px;
	line-height:20px
}
.top-notice strong {
	color:#c7154a
}
.i-pics {
	width:100%;
	background-color:#fff
}
.i-pics .wrap {
	width:100%;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	position:relative
}
.i-pics .wrap .tag-pic {
	position:absolute;
	z-index:500;
	width:30px;
	height:30px;
	left:10px;
	top:10px
}
.i-pics .wrap .tag-pic img {
	width:30px;
	height:30px
}
.i-pics .swipe {
	text-align:center;
	overflow:hidden
}
.i-pics .item {
	float:left;
	width:100%;
	position:relative
}
.slider-nav {
	position:absolute;
	bottom:10px;
	left:0;
	text-align:center;
	width:100%;
	font-size:0
}
.slider-nav li {
	height:8px;
	width:8px;
	border-radius:4px;
	display:inline-block;
	margin:0 3px;
	background-color:#cecece;
	line-height:0;
	font-size:0;
	padding:0;
	opacity:.8
}
.slider-nav li.on {
	background-color:#B38B4D;
	opacity:1
}
.i-pics .fav-btn {
	position:absolute;
	z-index:10;
	top:10px;
	right:10px;
	font-size:30px;
	line-height:30px;
	color:#c8c8c8
}
.i-pics .ect-colory {
	color:#c7154a
}
.i-price {
	text-align:center;
	padding:10px 0;
	background-color:#fff
}
.i-price .s-price {
	font-size:18px;
	font-weight:700;
	color:#000000;
	display:inline-block
}
.i-price .s-price .yuan {
	font-size:20px;
	padding-right:3px
}
.i-price .tags-wrap {
	display:inline-block;
	text-align:left;
	margin-left:5px
}
.i-price .m-price {
	color:#828282;
	font-size:12px;
	display:block
}
.i-price .price-tags {
	margin-bottom:4px;
	font-size:0
}
.i-price .tag {
	display:inline-block;
	border:1px solid #ef135b;
	border-radius:2px;
	padding:1px;
	color:red;
	font-size:12px;
	margin-right:3px
}
.i-color {
	text-align:center;
	padding:0 0 10px;
	font-size:0;
	background-color:#fff
}
.i-color .item {
	display:inline-block;
	margin:0 2px;
	width:40px;
	height:40px;
	border:2px solid #fff
}
.i-color .active {
	border-color:#c7154a
}
.buy-bar {
	position:fixed;
	bottom:0;
	left:0;
	background-color:#fff;
	border-top:1px solid #d2d2d2;
	height:45px;
	width:100%;
	z-index:100
}
.buy-bar .bar-wrap {
	width:100%;
	max-width:640px;
	min-width:320px;
	display:-webkit-box;
	margin:0 auto
}
.buy-bar .btn-customer-ser {
	width:50px;
	padding:0 10px;
	color:#e1074a;
	display:block;
	text-align:center;
	font-size:12px
}
.buy-bar .cust-ser-icon {
	display:block;
	font-size:22px;
	margin:0 auto
}
.buy-bar .btn-add-cart {
	-webkit-box-flex:1;
	display:block;
	height:33px;
	border-radius:20px;
	text-align:center;
	background-color:#fff;
	line-height:33px;
	color:#c7154a;
	font-size:18px;
	margin:5px 0 0;
	border:1px solid #c7154a
}
.buy-bar .btn-buy-now {
	-webkit-box-flex:1;
	display:block;
	height:35px;
	border-radius:20px;
	text-align:center;
	background-color:#B38B4D;
	line-height:35px;
	color:#fff;
	font-size:18px;
	margin:5px 10px 0;
}
.buy-bar .stockout {
	background-color:#a0a0a0
}
.i-promotion {
	border-top:1px solid #d2d2d2;
	background-color:#fff;
	padding:10px;
	position:relative
}
.i-promotion div:first-child {
	padding-top:0
}
.i-promotion .key {
	float:left
}
.i-promotion .bd {
	overflow:hidden;
	padding-right:70px
}
.i-promotion .coutdown {
	position:absolute;
	top:10px;
	right:10px;
	color:#c7154a
}
.i-promotion .sale-alipay {
	padding-top:10px
}
.buy-get {
	border-top:1px dotted #d2d2d2;
	background-color:#fff;
	padding:10px;
	overflow:hidden;
	color:#828282
}
.buy-get .b-1 {
	float:left
}
.buy-get .b-2 {
	float:right
}
.i-panels {
	overflow:hidden;
	background-color:#fff;
	border-bottom:1px solid #d2d2d2
}
.i-panels .tabs {
	width:100%;
	height:41px
}
.i-panels .panels-tab {
	width:100%;
	max-width:640px;
	margin:0 auto;
	height:41px;
	display:-webkit-box;
	overflow:hidden;
	z-index:200;
	background-color:#e4e4e4
}
.i-panels .panels-tab a {
	display:block;
	width:33.3%;
	height:40px;
	text-align:center;
	line-height:40px;
	-webkit-box-flex:1;
	border-right:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2
}
.i-panels .panels-tab a:last-child {
	border-right:none
}
.i-panels .nav-tabs .iconfont {
	font-size:16px;
	padding-right:2px;
	vertical-align:middle
}
.i-panels .panels-tab .active {
	background-color:#fff;
	border-top:1px solid #d2d2d2;
	border-bottom-color:#fff
}
.i-panels .nav-tabs .active .iconfont {
	color:#B38B4D
}
.i-panels .panel {
	background-color:#fff;
	padding-bottom:20px
}
.i-panels .panel img {
	width:100%
}
.i-panels .item-pics .content {
	/*line-height:0*/
}
.i-panels .item-pics .content p{
	/*line-height:25px*/
}
.i-panels .item-attr table {
	border-collapse:collapse;
	width:90%;
	margin:0 auto
}
.i-panels .item-attr th {
	color:#999;
	width:80px;
	font-weight:400
}
.i-panels .item-attr td, .i-panels .item-attr th {
	padding:10px 5px;
	text-align:left
}
.i-panels .item-attr tr {
	border-bottom:1px solid #f5f5f5
}
.i-panels .item-attr tr:last-child {
	border-bottom:none
}
.item-comment .comm-key, .item-comment .count {
	padding:20px 0;
	border-bottom:1px solid #ddd;
	display:-webkit-box
}
.item-comment .count .count-total {
	-webkit-box-flex:1;
	text-align:center
}
.item-comment .count .count-total strong {
	font-size:23px;
	display:block;
	color:#c7154a
}
.item-comment .count .count-total span {
	color:#555;
	font-size:16px;
	font-weight:700
}
.item-comment .count .count-sub {
	-webkit-box-flex:1;
	color:#999
}
.item-comment .count .count-sub span {
	padding-left:5px
}
.item-comment .count .comm-btn {
	-webkit-box-flex:1
}
.item-comment .count .comm-btn .btn {
	display:block;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	background-color:#c7154a;
	border-radius:15px;
	width:80%;
	margin-top:10px
}
.item-comment .comm-key .item {
	-webkit-box-flex:1;
	text-align:center
}
.item-comment .comm-key .key {
	padding:2px;
	border:1px solid #c7154a;
	color:#c7154a;
	border-radius:3px;
	width:auto
}
.item-comment .comm-key .num {
	padding-top:10px;
	color:#999;
	font-size:14px
}
.comm-list {
	padding:0 15px
}
.comm-list .item {
	padding:15px 0;
	border-bottom:1px dotted #ddd
}
.comm-list .item .con {
	padding-bottom:10px;
	color:#555;
	font-size:13px;
	line-height:150%
}
.comm-list .item .info-bar {
	color:#ccc;
	position:relative
}
.comm-list .item .info-bar .time {
	position:absolute;
	bottom:0;
	right:0
}
.comm-list .item .info-bar .vip-icon {
	background-color:#c7154a;
	color:#fff;
	font-size:10px;
	padding:1px 2px;
	border-radius:2px
}
.panel .see-more {
	text-align:center;
	padding:8px 0;
	height:25px;
	line-height:25px;
	width:50%;
	margin:10px auto;
	border:1px solid #ddd;
	border-radius:4px;
	background-color:#f5f5f5
}
.panel .see-more .iconfont {
	font-size:25px;
	line-height:25px;
	color:#d2d2d2;
	vertical-align:top
}
.item-same .tabs-btn {
	display:-webkit-box
}
.item-same .tabs-btn li {
	-webkit-box-flex:1;
	display:block;
	height:40px;
	text-align:center
}
.item-same .tabs-btn li a {
	line-height:38px;
	display:block;
	width:70%;
	margin:0 auto;
	border-bottom:2px solid #fff
}
.item-same .tabs-btn .active a {
	border-color:#c7154a
}
.item-same .bd {
	display:table;
	width:100%;
	padding:10px 0;
	font-size:0
}
.item-same .bd li {
	display:inline-block;
	width:50%;
	box-sizing:border-box;
	text-align:center
}
@media only screen and (min-width:640px) {
.item-same .bd li {
width:33%
}
}
.item-same .bd .goods {
	padding:10px;
	font-size:13px;
	max-width:110px;
	margin:0 auto
}
.item-same .bd .title {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	max-width:110px;
	display:block;
	margin:4px 0
}
.item-same .bd .price strong {
	font-size:15px;
	color:#c7154a;
	padding-right:5px
}
.item-same .bd .price s {
	font-size:12px;
	color:#888
}
.i-service {
	text-align:center;
	background-color:#fff;
	padding:10px 0
}
.i-recomm {
	display:none
}
.i-recomm .hd {
	height:40px;
	width:100%;
	line-height:40px;
	text-align:center;
	font-weight:700;
	color:#333
}
.i-recomm .hd h3 {
	font-size:14px
}
.i-recomm .bd {
	background-color:#fff;
	padding:10px 0;
	width:100%
}
.i-recomm .bd .swipe {
	text-align:center;
	overflow:hidden;
	position:relative
}
.i-recomm .bd .swipe .group {
	width:320px;
	float:left;
	text-align:center;
	font-size:0;
	overflow:hidden;
	position:relative
}
.i-recomm .bd .swipe .group .item {
	width:33.3%;
	display:inline-block;
	font-size:13px
}
.i-recomm .bd .swipe .group .item a {
	padding:5px;
	display:block
}
.i-recomm .bd .swipe .group .item img {
	max-width:100%;
	max-height:100%;
	display:block;
	margin:0 auto 5px
}
.i-recomm .slider-nav {
	position:static;
	margin-top:5px
}
.i-recomm .bd .swipe .group .item strong {
	font-size:15px;
	color:#c7154a;
	padding-right:5px
}
.i-recomm .bd .swipe .group .item s {
	font-size:12px;
	color:#888
}
.i-recomm .i-loading {
	width:50px;
	height:50px;
	margin:15px auto 35px;
	background:transparent url(http://cca.mbaobao.com/mkts/201407/14/loading.gif) center 20px no-repeat;
	background-size:30px 30px
}
.scroll-panels {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width:100%
}
.scroll-panels .panel {
	min-width:100%
}
.panel-loading {
	background:transparent url(http://cca.mbaobao.com/mkts/201407/14/loading.gif) center 20px no-repeat;
	background-size:50px 50px
}
.pu_box {
	display:none;
	font-size:12px;
	position:fixed;
	height:168px;
	z-index:1002;
	width:287px;
	left:50%;
	top:50%;
	-webkit-transform:translate(-143px, -84px);
	-ms-transform:translate(-143px, -84px);
	-o-transform:translate(-143px, -84px);
	transform:translate(-143px, -84px)
}
.pu_box .pu_top {
	width:286px;
	height:34px;
	background:#eeece1;
	line-height:34px;
	text-align:center;
	font-size:12px;
	color:#474747;
	position:relative
}
.pu_box .pu_top a {
	color:#474747;
	font-weight:bolder;
	text-decoration:underline
}
.pu_box .pu_main {
	overflow:hidden;
	color:#a8a8a8;
	text-align:center
}
.pu_box .pu_main .pu_left {
	float:left;
	width:48%;
	background:#f7f7f5;
	padding-top:43px
}
.pu_box .pu_main .pu_left a {
	background:#e5395b;
	border:1px solid #e2e2e0;
	color:#fff;
	padding:12px 13px;
	font-size:14px;
	font-weight:bolder;
	-webkit-border-radius:3px
}
.pu_box .pu_main .pu_left p {
	padding:30px 0
}
.pu_box .pu_main .pu_right {
	float:left;
	width:48%;
	background:#f7f7f5;
	padding-top:43px
}
.pu_box .pu_main .pu_right a {
	background:#fff;
	border:1px solid #e2e2e0;
	color:#616161;
	padding:12px 13px;
	font-size:14px;
	font-weight:bolder;
	-webkit-border-radius:3px
}
.pu_box .pu_main .pu_right p {
	padding:30px 0
}
.pu_box .pu_top .pu_close {
	width:18px;
	height:18px;
	border-radius:18px;
	border:3px solid #fff;
	position:absolute;
	background:#272727;
	cursor:pointer;
	line-height:18px;
	text-align:center;
	color:#fff;
	font-weight:bolder;
	font-size:14px;
	top:-12px;
	right:-12px
}
.pu_box .pu_main .pu_gradient-shadow {
	width:4%;
	height:134px;
	background:url(http://cca.mbaobao.com/mbaobao/201309/20130913/pu_back.jpg) repeat-y center;
	background-color:#f7f7f5;
	float:left
}
.pu_box_overlay {
	opacity:.7;
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1001;
	background-color:#000;
	display:none
}
.m-footer .footer-info {
	padding-bottom:50px
}
/*评论*/
.ect-margin-tb { margin-top: 0.6em; margin-bottom: 0.6em; }
.ect-padding-lr { padding-left: 0.6em; padding-right: 0.6em; }
.ect-padding-tb { padding-top: 0.6em; padding-bottom: 0.6em; }
.ect-margin-bottom0 { margin-bottom: 0 !important; }

.goods-info .tab-msg ul.msg li { border-bottom: 1px dotted #e3e3e3; padding: 0.4em 0; }
.goods-info .tab-msg ul.msg li:last-child { border-bottom: 1px solid #e3e3e3; }
.goods-info ul.comment-radio li { border-bottom: none !important; margin-right: 0.4em; margin-bottom: 0.4em; }
.goods-info .tab-msg h4.title { margin-bottom: 0.1em; height: auto; }
.goods-info .tab-msg p { color: #666; padding: 0.2em 0; }
.goods-info .tab-msg p span { color: #888; }
.goods-info .tab-msg ul.pager { margin: 1em 0; margin-bottom: 0.4em }
.goods-info .tab-msg ul.pager li { padding: 0.2em 0.6em; border-radius: 4px; }
.goods-info .tab-msg ul.pager li a { padding: 0; }
.goods-info .tab-msg ul.pager li select { padding: 0 3em; }
/*提交按钮*/
.goods-submit { background: #f3f3f3; height: 4.3em; border-top: 1px solid #e3e3e3; }
.goods-submit div { left: 0.8em; right: 4.2em; max-width: 640px }
.goods-submit div a { width: 100%; }
.goods-submit i { font-size: 3em; color: #888; }
.goods-submit.goods-submit-fixed { width: 100%; max-width: 640px; position: fixed; bottom: 0px; z-index: 1 }
/*提交评论FROM表单*/
.submit-comments { background: #FFF; overflow: hidden; }
.submit-comments h4 { font-size: 1.2em; margin-top: 0.8em; }
.submit-comments ul li { float: left; margin-right: 0.3em; }
.submit-comments input[type=text] { height: 2.8em; }
.submit-comments input[type=text],
.submit-comments p textarea { width: 100%; padding: 0.5em; }
.submit-comments textarea { height: 8em; }
.submit-comments p.code { position: relative; height: 3.6em; }
.submit-comments p.code span { position: absolute; left: 0em; right: 8em; }
.submit-comments p.code span input[type=text] { width: 100% }
.submit-comments p.code img { width: 6.5em; height: 2.8em; }
.commentsBody { background: #fff; padding-bottom: 3em; }
.comment-radio { overflow: hidden; font-size: 1.1em; }
.ect-radio input[type=radio],
.ect-checkbox input[type=checkbox] { display: none }
.ect-radio label,
.ect-checkbox label { margin-bottom: 0; }
.ect-radio label i,
.ect-checkbox label i { width: 1.2em; height: 1.2em; margin-right: 0.3em; display: block; float: left; margin-top: 0.1em; border-radius: 100%; background: rgba(255,255,255,0); border: 2px solid #bbb; }
.ect-checkbox label i { border-radius: 4px !important; }
.ect-radio input:checked+label i,
.ect-checkbox input:checked+label i { color: #F00; background: url(../images/radio.png) center center #5babe6 no-repeat; background-size: 80%; border: none; }
.ect-radio input:disabled+label i,
.ect-checkbox input:disabled+label i { background: #fff; border: 2px solid #e8e8e8; }
.ect-radio input.disabled:disabled+label i,
.ect-checkbox input.disabled:disabled+label i { background: url(../images/radio.png) center center #e8e8e8 no-repeat; border: none; background-size: 80%; }


/*选项*/
.goods-option{border-top:1px solid #eeeeee;text-align:center; background-color:#fff}
.goods-optionc{clear:both; overflow:hidden;}
.goods-option-con{clear:both; overflow:hidden; margin:0.2em 0; margin-bottom:1em;}
.goods-option-con span{display: block;float: left; font-size:1.1em; padding:0.4em 0; margin-top:0.2em;}
.goods-option-conr input[type=radio],.goods-option-conr input[type=checkbox]{display:none;}
.goods-option-conr label{padding:5px 10px 5px 10px;border: 2px solid #eeeeee;position: relative;color: #000000;}
.goods-option-conr input:checked+label{padding:5px 10px 5px 10px;border: 2px solid #B38B4D;position: relative;color: #B38B4D;}
.goods-option-con label{display: block;float: left;padding: 0.4em 0.8em;border: 1px solid #eee;margin:0 0.4em;color: #666; font-weight:normal; margin-top:0.5em;}
.goods-option-con input:checked+label:after, .gw-con .gwc-fl .gwc-fl-con input:checked+label:before { content: "\0020"; background: #1bae5d; position: absolute; height: 0.7em; width: 0.7em; right: 0px; bottom: 0px; z-index: 0; }
.goods-option-con input:checked+label:before {content:"\0020"; width: 0.5em; height: 0.3em; box-sizing: border-box; z-index: 10; bottom: 0.3em; position:absolute; right: 0.04em; border-bottom: 1px #fff solid; border-left: 1px #fff solid; /*旋转45度*/ -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); z-index:1;}

/*待审核*/
.rank_price_label {
  font-size:18px;
  font-weight:700;
  color:#B38B4D;
  display:inline-block
}
.rank_tag {
  display:inline-block;
  background-color:#B38B4D;
  color:#ffffff;
  font-size:15px;
  font-weight:700;
  padding:2px 10px 2px 10px;
}
.rank_price {
  display:inline-block;
  color:#B38B4D;
  font-size:25px;
  font-weight:700;
}